body{
    margin: 0;
    font-family: Arial;
    border: border-box;
    padding: 0px;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly ;
}

.nav_logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.broder{
    border: 1px solid transparent;
}

.broder:hover{
    border: 1.5px solid white;
}

.Deliver{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
    margin: 0;
    
}

.India{
    font-size: 1rem;
    margin-left: 3px;
    margin: 0;
}
.add-icon{
    display: flex;
}

.nav-search{
   display:flex;
   background-color: pink;
    width: 620px;
        height: 40px; 
        border-radius: 4px;
}

.nav-search:hover{
    border: 2px solid  orange;
}

.select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px; 
    border-bottom-left-radius: 4px;
    border: none;
}

.input{
    width: 100%;
    font-size: 1rem;
    border: none;
} 

.Search-icon{
    width: 45px;
    display:flex ;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255, 153, 20);
    border-top-right-radius: 4px; 
    border-bottom-right-radius: 4px;
    color: #0F1111;
}


.Hello{
    margin: 0px;
   }

.nav-second{
    margin: 0;
    font-size: 0.85rem;
    font-weight: 700;
}
span{
    font-size: 0.7rem;
}

.return{
    margin: 0;
}

.cart i {
    font-size: 30px;
}

.cart cart{
     font-size: 0.85rem;
     font-weight: 700;
}

.panel{
    display: flex;
    height: 40px;
    background-color: #222f3d ;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-opt p {
    display: inline;
    margin-left: 10px;
    }
.panel-opt{
    width: 70%;
    font-size: 0.8rem;
}    

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover ;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero_msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 85%;
    margin-bottom: 25px;
   }

   .hero_msg a{
     color: #007185;
   }
   .shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6 ;
   }

   .box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
   }

   .box1-img{
    height: 300px;
    background-size: cover;
   }

   .box-content{
    margin-left: 1rem;
    margin-right: 1rem;
   }

   .box-content p{
    color: #007185;
   }

   footer{
    margin-top: 15px;
   }
   .foot_panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
   }

   .foot-panel2{
         background-color: #222f3d;
         color: white;
         height: 300px;
         display: flex;
         justify-content: space-evenly;
   }

   ul{
    font-weight: 700;
   }
   ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
     color: #dddddd;
   }

   .foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4{
    background-color: #0F1111;
    color: white;
    height: 75px;
    font-size: 0.7rem;
    text-align: center;

}

.pages{
    padding-top: 25px;
    }
    .pages a{
        padding-left: 5px;
    }  

    .copyright{
        padding-top: 5px;
    }
 
  .underline:hover{
    text-decoration: underline white;
  }